[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
isort = "*"
pycodestyle = "*"
pylint = "*"
rope = "*"

[packages]
scipy = "*"
numpy = "*"
tqdm = "*"
wget = "*"
TextGrid = "*"
pandas = "*"
text-utils = {editable = true, ref = "master", git = "https://github.com/stefantaubert/text-utils.git"}

[requires]
python_version = "3.8"
