[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
textgrid-tools = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
rope = "*"
pytest = "*"
cx-freeze = "*"
autoflake = "*"
twine = "*"

[packages]
scipy = "*"
numpy = "*"
tqdm = "*"
TextGrid = ">=1.5"
pandas = "*"
ordered-set = ">=4.1.0"
matplotlib = "*"
pronunciation-dictionary = ">=0.0.4"

[requires]
python_version = "3.9"
