[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
isort = "*"
pycodestyle = "*"
pylint = "*"
rope = "*"
pipenv-setup = "*"

[packages]
scipy = "*"
numpy = "*"
tqdm = "*"
wget = "*"
TextGrid = "*"
pandas = "*"
text-utils = {editable = true, ref = "master", git = "https://github.com/stefantaubert/text-utils.git"}
cmudict-parser = {editable = true, ref = "master", git = "https://github.com/stefantaubert/cmudict-parser.git"}
audio-utils = {editable = true, ref = "master", git = "https://github.com/stefantaubert/audio-utils.git"}

[requires]
python_version = "3.8"
